<div class="flex flex-col justify-between mx-auto h-full" *ngIf="creations">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grids-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 items-end">
    <div *ngFor="let creation of creations | paginate: {
      itemsPerPage: ipp,
      currentPage: cp,
      totalItems: total }" class="mt-8 mx-auto">

      <div class="mx-auto text-xl text-center sm:hidden mb-2 "><p>{{creation.title}}</p></div>
      <div style="position: relative;">
        <button (click)="openModal(creation.id)">
          <div class="img-container rounded-xl static" style="background-image: url({{creation.image}});">
            <div class="bg-black rounded-xl opacity-0 hover:opacity-75 w-full h-full middle">
              <div class="inline-block">
                <div class="text">{{creation.title}}</div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <app-jw-modal id={{creation.id}} title={{creation.title}} imgsrc={{creation.image}}
        description={{creation.description}}>
      </app-jw-modal>
    </div>
  </div>
  <div class="flex flex-col content-end sticky">
    <hr class="mt-6" />
    <pagination-controls (pageChange)="handlePageChange($event)" class="mx-auto mt-8" previousLabel="Précédent"
      nextLabel="Suivant" responsive="true" autoHide="true"></pagination-controls>
  </div>
</div>

<div class="flex flex-col" *ngIf="!creations">
  <app-loader style="  position: fixed;
top: 50%;
left: 50%;
margin-top: -50px;
margin-left: -100px;">
  </app-loader>
</div>
