<div class="flex flex-grow">
  <div class="bg-gray-100 w-full min-h-screen rounded-xl mt-4 mx-8 sm:mx-12 lg:mx-48 mb-2">
    <main class="font-sans">
      <div>
        <section class="bg-gray-100 py-10 rounded">
          <div class="max-w-4xl rounded-xl px-6 text-center mx-auto">
            <h2 class="text-3xl font-semibold text-gray-800">Statuts dans l'association</h2>
          </div>
          <br>
        </section>
        <section class="bg-green-600">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-white text-2xl font-bold mt-4">Article 1</p>
            <p class="text-white italic mb-3 mt-2">NOM, SIGLE, LOGO</p>
            <hr>
            <p class="text-white mt-2 text-justify">Il est fondé entre les adhérents aux présents statuts une association régie par Décret du 16 août 1901 pris pour l'exécution de la loi du 1er juillet 1901 relative au contrat d'association, version consolidée au 16 mars 2017, titre : L'Atelier Créatif, sigle : LAC</p>
            <p class="text-white text-justify">Les présents statuts seront modifiables par le conseil et une information sera donnée aux adhérents lors de l'assemblée annuelle.</p>
          </div>
        </section>
        <section class="bg-white">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-black text-2xl font-bold mt-4">Article 2</p>
            <p class="text-black italic mb-3 mt-2">SIEGE SOCIAL</p>
            <hr>
            <p class="text-black mt-2 text-justify">Le siège social est fixé chez Madame SERPIN Catherine, 11 résidence du Parc, 72330 Parigné-le-Pôlin, Sarthe</p>
            <p class="text-black text-justify">Il pourra être transféré en tout autre endroit de La Sarthe et partout ailleurs par simple décision du Conseil d'Administration</p>
          </div>
        </section>
        <section class="bg-green-600">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-white text-2xl font-bold mt-4">Article 3</p>
            <p class="text-white italic mb-3 mt-2">OBJECTIFS</p>
            <hr>
            <p class="text-white mt-2 text-justify">1. Regrouper des personnes ayant vécu des accidents de vie et/ou souffrant de douleurs chroniques ainsi que des personnes se sentant solidaires de ces dernières afin de rompre avec la solitude, l'isolement et créer du lien social.</p>
            <p class="text-white text-justify">2. Pratiquer des activités manuelles pour tromper son cerveau face à la douleur physique et/ou morale. Permettre le partage de compétences. Renforcer la confiance et l'estime de soi.</p>
            <p class="text-white text-justify">3. Organiser des activités complémentaires et des sorties afin de permettre l'épanouissement physique et moral, personnel et collectif, tout en assurant la réduction des inégalités.</p>
            <p class="text-white text-justify">4. Etablir un lien avec le monde médical afin d'échanger notamment sur la problématique des personnes douloureuses chroniques et de se tenir informés des recherches et avancées dans ce domaine.</p>
            <p class="text-white text-justify">5. Organiser et participer à des manifestations afin de promouvoir l'association et vendre les objets créés. Les bénéfices dégagés participeront notamment au maintien d'un budget suffisant au bon fonctionnnement de l'association, d'une part et à l'organisation d'activités et de sorties et au profit des adhérents d'autre part.</p>
          </div>
        </section>
        <section class="bg-white">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-black text-2xl font-bold mt-4">Article 4</p>
            <p class="text-black italic mb-3 mt-2">ACTIVITÉS</p>
            <hr>
            <p class="text-black mt-2 text-justify">Les activités proposées relèvent de domaines différents.</p>
            <p class="text-black text-justify">Liste non exhastive de domaines :</p>
            <p class="text-black text-justify">1. Activités manuelles : couture, broderies, perles, tricot, tricotin, crochet, découpage, collage, coloriage, caterie, peinture, etc. Les travaux manuels peuvent être réalisés au siège de l'association, dans les locaux mis à disposition par la mairie, au domicile d'un adhérent ou autre lieu défini selon le projet du moment. Ils peuvent faire l'objet d'ateliers ludiques ou de transmission d'expérience.</p>
            <p class="text-black text-justify">2. Activités expoisition et ventes d'objets créés, dans différents lieux</p>
            <p class="text-black text-justify">3. Activités physiques adaptées et/ou accès à des séances de thérapies alternatives non médicalisées avec une réduction tarifaire négociée avec le prestataire si une participationn financière était nécessaire.</p>
            <p class="text-black text-justify">4. Activités sorties culturelles et de loisirs: visites de parcs ou sites choisis selon affinités.</p>
            <p class="text-black text-justify">5. Activités jeux de société, marche adaptée, et/ou toute autre activité choisie en commun accord avec tout ou partie du groupe, en conformité avec les objectifs de l'association.</p>
            <p class="text-black text-justify">6. Les différentes séances seront ponctuées par la pause conviviale café/tisane. Aucune régularité en ce qui concerne la présence, le temps passé n'est demandé. La participation est sur la base du volontariat. Les administrateurs s'organisent ensemble pour veiller à une présence à minima d'un animateur. Si cela n'est pas possible, la séance pourra être annulée.</p>
          </div>
        </section>
        <section class="bg-green-600">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-white text-2xl font-bold mt-4">Article 5</p>
            <p class="text-white italic mb-3 mt-2">CATÉGORIES DE MEMBRES</p>
            <hr>
            <p class="text-white mt-2 text-justify">Les adhérents sont tenus de lire et respecter les présents statuts. Leur signature dans le cahier des adhésions fera acte.</p>
            <p class="text-white text-justify">Tous les adhérents peuvent participer aux différentes activités et sorties.</p>
            <p class="text-white text-justify">Administrateurs : Membres adhérents fondateurs réunis en un premier conseil d'administration le 29 octobre 2018. De nouveaux membres pourront être intégrés selon les besoins organisationnels et/ou de fonctionnement. Les nouveaux membres seront alors élus puis nommés par le conseil.</p>
            <p class="text-white text-justify">La durée du mandat est laissée à l'appréciation de l'adhérent et/ou du conseil.</p>
            <p class="text-white text-justify">Ils ont droit de vote lors des réunions de conseils et assemblées générales.</p>
            <hr>
            <p class="text-white text-justify">Bureau : Les membres du bureau sont choisis parmi les administrateurs avec une ancienneté préalable laissée à l'appréciation du conseil. Ils sont élus par le conseil. La durée du mandat est laissée à l'appréciation de l'administrateur et/ou du conseil.</p>
            <p class="text-white text-justify">Le bureau pourra se réunir en comité restrient pour les besoins du fonctionnement administratif.</p>
            <p class="text-white text-justify">Ils ont le droit de vote lors des réunions de conseils et assemblées générales.</p>
            <hr>
            <p class="text-white text-justify">Adhérents : Les membres adhérents sont nommés suite à une demande motivée puis une période d'essai en atelier puis acceptation et intégration ou pas, par le conseil.</p>
            <p class="text-white text-justify">La durée de l'adhésion est laissée à l'appréciation de l'adhérent et/ou du conseil.</p>
            <p class="text-white text-justify">Ils ont droit de vote lors des assemblées générales.</p>
            <hr>
            <p class="text-white text-justify">Membres de soutien : Personnes physiques et/ou morales adhérentes, aidant l'association par des aides matérielles et/ou financières. La durée de l'adhésion est soumise à la participation matérielle et/ou financière de l'année en cours. En cas d'une non-participation effective, la radiation est prononcée par le conseil mais une nouvelle adhésion sera à nouveau possible en fonction de l'évolution de la situation. Ils ont droit de vote lors des assemblées générales avec une seule voix notamment pour le représentant officiel d'une personne morale. NB : Aucune personne physique ne peut cumuler plus d'une seule voix.</p>
          </div>
        </section>
        <section class="bg-white">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-black text-2xl font-bold mt-4">Article 6</p>
            <p class="text-black italic mb-3 mt-2">COTISATIONS</p>
            <hr>
            <p class="text-black mt-2 text-justify">Gratuité de l'adhésion, sauf décision contraire du conseil.</p>
          </div>
        </section>
        <section class="bg-green-600">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-white text-2xl font-bold mt-4">Article 7</p>
            <p class="text-white italic mb-3 mt-2">INDEMNITES ACHATS</p>
            <hr>
            <p class="text-white mt-2 text-justify">Les fonctions des membres du Conseil d'Administration sont bénévoles et gratuites. Les achats inhérents au fonctionnement, aux investissements, aux sorties et autres dépenses pourront être avancées puis remboursées sur justificatif : ticket de caisse, facture, etc. Les frais et débours occasionnés pour l'accomplissement du mandat des administrateurs seront rembourséss sur présentation de pièces justificatives avec accord préalable du Conseil.</p>
          </div>
        </section>
        <section class="bg-white">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-black text-2xl font-bold mt-4">Article 8</p>
            <p class="text-black italic mb-3 mt-2">VOTES</p>
            <hr>
            <p class="text-black mt-2 text-justify">Les différents votes au sein du conseil et des diverses assemblées se dérouleront à mains levées ou à bulletin secret si au moins un seul des membres en fait la demande, ce dernier sera alors chargé du relevé des bulletins et du comptage aidé d'un administrateur. Le résultat de tout vote sera soumis à la majorité des voix plus une. En cas d'égalité la voix du président est prépondérante.</p>
          </div>
        </section>
        <section class="bg-green-600">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-white text-2xl font-bold mt-4">Article 9</p>
            <p class="text-white italic mb-3 mt-2">CONSEIL</p>
            <hr>
            <p class="text-white mt-2 text-justify">Le conseil se réunit une fois par an au moins. Les convcations avec l'ordre du jour, le lieu et l'horaire se feront par tout moyen à la convenance du président: messageries électroniques et sms inclus, une semaine avant la date de la réunion. En cas d'absence, aucun pouvoir ne pourra être remis. Seuls les administrateurs présents pourront participer aux décisions si leur nombre est à minima le tiers des membres du conseil en poste. Si le quorum n'était pas atteint, les décisions se prendront avec les membres présents dans la demi-heure suivant le débat.</p>
          </div>
        </section>
        <section class="bg-white">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-black text-2xl font-bold mt-4">Article 10</p>
            <p class="text-black italic mb-3 mt-2">ASSEMBLÉES / EXERCICE SOCIAL</p>
            <hr>
            <p class="text-black mt-2 text-justify">L'exercice commence le 1er octobre et se termine le 30 septembre de chaque année.</p>
            <p class="text-black mt-2 text-justify">Les adhérents se réunissent en assemblée générale ordinaire une fois par un, en octobre de préférence. Les convcations avec l'ordre du jour, le lieu et le moment se feront par tout moyen à la convenance du président : messageries électroniques et sms inclus une semaine avant la date de la réunion. En cas d'absence, aucun pouvoir ne pourra être remis. Seuls les adhérents présents pourront participer aux décisions et aux votes. Le quorum est au tiers des adhérents inscrits. Si le quorum n'était pas atteint, les validations des bilans et décisions se prendront avec les membres présents dans la demi-heure suivant la fin de la première assemblée.</p>
          </div>
        </section>
        <section class="bg-green-600">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-white text-2xl font-bold mt-4">Article 9</p>
            <p class="text-white italic mb-3 mt-2">CONSEIL</p>
            <hr>
            <p class="text-white mt-2 text-justify">Le conseil se réunit une fois par an au moins. Les convcations avec l'ordre du jour, le lieu et l'horaire se feront par tout moyen à la convenance du président: messageries électroniques et sms inclus, une semaine avant la date de la réunion. En cas d'absence, aucun pouvoir ne pourra être remis. Seuls les administrateurs présents pourront participer aux décisions si leur nombre est à minima le tiers des membres du conseil en poste. Si le quorum n'était pas atteint, les décisions se prendront avec les membres présents dans la demi-heure suivant le débat.</p>
          </div>
        </section>
        <section class="bg-white">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-black text-2xl font-bold mt-4">Article 10</p>
            <p class="text-black italic mb-3 mt-2">ASSEMBLÉES / EXERCICE SOCIAL</p>
            <hr>
            <p class="text-black mt-2 text-justify">L'exercice commence le 1er octobre et se termine le 30 septembre de chaque année.</p>
            <p class="text-black mt-2 text-justify">Les adhérents se réunissent en assemblée générale ordinaire une fois par un, en octobre de préférence. Les convcations avec l'ordre du jour, le lieu et le moment se feront par tout moyen à la convenance du président : messageries électroniques et sms inclus une semaine avant la date de la réunion. En cas d'absence, aucun pouvoir ne pourra être remis. Seuls les adhérents présents pourront participer aux décisions et aux votes. Le quorum est au tiers des adhérents inscrits. Si le quorum n'était pas atteint, les validations des bilans et décisions se prendront avec les membres présents dans la demi-heure suivant la fin de la première assemblée.</p>
          </div>
        </section>
        <section class="bg-green-600">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-white text-2xl font-bold mt-4">Article 11</p>
            <p class="text-white italic mb-3 mt-2">PARTENARIAT</p>
            <hr>
            <p class="text-white mt-2 text-justify">Des conventions orales ou écrites pourront être envisagées et mises en oeuvre avec des partenaires associatifs et/ou professionnels dûment approuvées par le conseil.</p>
          </div>
        </section>
        <section class="bg-white">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-black text-2xl font-bold mt-4">Article 12</p>
            <p class="text-black italic mb-3 mt-2">PRESTATAIRES</p>
            <hr>
            <p class="text-black mt-2 text-justify">Des prestataires pourront être sollicités en accord avec le conseil.</p>
            <p class="text-black mt-2 text-justify">Ils pourront être invités en réunion de conseil et/ou d'assemblée mais n'y auront pas le droit de vote.</p>
          </div>
        </section>
        <section class="bg-green-600">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-white text-2xl font-bold mt-4">Article 13</p>
            <p class="text-white italic mb-3 mt-2">CONTRATS CONVENTIONS SUBVENTIONS</p>
            <hr>
            <p class="text-white mt-2 text-justify">Les différents contrats, convetions et demandes de subventions pourront être effectués par la présidence, le secrétariat, la trésorerie ou par tout administrateur dûment mandaté par le conseil.</p>
          </div>
        </section>
        <section class="bg-white">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-black text-2xl font-bold mt-4">Article 14</p>
            <p class="text-black italic mb-3 mt-2">REGLEMENT</p>
            <hr>
            <p class="text-black mt-2 text-justify">Tout adhérent, quelle que soit sa catégorie de membre, entravant le bon fonctionnement moral et/ou matériel de l'association pourra être exclu de l'association ainsi que des activités organisées, sans préavis, sur simple décision du conseil. Il sera informé de son exclusion temporaire ou définitive par voie orale ou écrite selon les moyens mis à disposition, incluant les messageries électroniques et sms.</p>
            <p class="text-black mt-2 text-justify">Ils pourront être invités en réunion de conseil et/ou d'assemblée mais n'y auront pas le droit de vote.</p>
          </div>
        </section>
        <section class="bg-green-600">
          <div class="max-w-5xl px-6 mx-auto text-center py-20">
            <p class="text-white text-2xl font-bold mt-4">Article 15</p>
            <p class="text-white italic mb-3 mt-2">DUREE DISSOLUTION</p>
            <hr>
            <p class="text-white mt-2 text-justify">L'association n'a pas de durée limitée dans le temps.</p>
            <p class="text-white mt-2 text-justify">En cas de dissolution de l'association, la trésorerie restante, les objets créés et les accessoires seront à partager par l'école publique et la mairie du siège social au profit de l'accueil périscolaire.</p>
          </div>
        </section>
      </div>
    </main>
  </div>
</div>
