<div class="flex flex-col justify-between mx-auto h-full" *ngIf="creations">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 items-end">
    <div *ngFor="let creation of creations | paginate: {
      itemsPerPage: ipp,
      currentPage: cp,
      totalItems: total }" class="mt-8 mx-auto">
      <div style="display: grid;
      grid-template-rows: 1fr 3fr 1fr 0.5fr;">
        <p class="text-2xl mb-4 text-center paragraphe h-8">{{creation.title}}</p>
        <button (click)="openModal(creation.id)"><img src={{creation.image}}
            class="rounded-xl cursor-pointer" *ngIf="creation.image"></button>
        <p class="text-sm mt-2 paragraphe">{{creation.description}}</p>
        <p class="text-xs text-gray-500 italic">Publié le : {{creation.createdAt | date:'shortDate':'CET':'fr'}}</p>
      </div>
      <app-jw-modal id={{creation.id}} title={{creation.title}} imgsrc={{creation.image}}
        description={{creation.description}}>
      </app-jw-modal>
    </div>
  </div>
  <div class="flex flex-col content-end sticky">
    <hr class="mt-6" />
    <pagination-controls (pageChange)="handlePageChange($event)" class="mx-auto mt-8" previousLabel="Précédent"
      nextLabel="Suivant" responsive="true" autoHide="true"></pagination-controls>
  </div>
</div>

<div class="flex flex-col" *ngIf="!creations">
  <app-loader style="  position: fixed;
top: 50%;
left: 50%;
margin-top: -50px;
margin-left: -100px;">
  </app-loader>
</div>
