<div class="flex flex-row w-full">
    <div
        class="w-full flex mx-auto text-center justify-center text-3xl font-semibold mt-14">Bienvenue sur l'administration</div>
</div>

<div class="grid grid-cols-1 grid-rows-2 text-2xl mt-12 w-full">
  <div class="mb-4 w-full flex justify-center">
    <div
    class="flex items-center text-center h-60 w-60 rounded-full bg-purple-600 text-white font-semibold transform hover:scale-105 motion-reduce:scale-110 cursor-pointer">
    <a [routerLink]="['/admin/creations']">Administration des créations</a>
</div>
  </div>
  <div class="w-full flex justify-center">
    <div
        class="flex items-center text-center h-60 w-60 rounded-full bg-purple-600 text-white font-semibold transform hover:scale-105 motion-reduce:scale-110 cursor-pointer">
        <a routerLink="/admin/evenements">Administration des événements</a>
    </div>
  </div>

</div>
