<div class="flex">
  <div class="mx-auto text-3xl font-semibold mt-14">Bienvenue sur l'administration</div>
</div>

<div class="grid grid-cols-2 justify-items-center text-2xl mt-52">
<div class="flex items-center text-center h-60 w-60 rounded-full bg-purple-600 text-white font-semibold transform hover:scale-105 motion-reduce:scale-110 cursor-pointer"><a [routerLink]="['/admin/creations']">Administration des créations</a></div>
<div class="flex items-center text-center h-60 w-60 rounded-full bg-purple-600 text-white font-semibold transform hover:scale-105 motion-reduce:scale-110 cursor-pointer"><a routerLink="/admin/evenements">Administration des événements</a></div>
</div>


