<div class="flex flex-col justify-between mx-auto h-full" *ngIf="evenements">
  <div class="grid grid-cols-1 items-end">
    <div *ngFor="let evenement of evenements | paginate: {
      itemsPerPage: ipp,
      currentPage: cp,
      totalItems: total }" class="mt-8 flex flex-col items-center">
      <div class="text-xl sm:text-4xl font-semibold mb-6 text-center text-gray-800 leading-tight"><p>{{evenement.title}}</p></div>
      <img src="{{evenement.image}}" class="w-full p-2 rounded object-cover lg:rounded" style="height: 28em;" />
      <div class="px-4 lg:px-0 mt-12 text-gray-700 text-lg leading-relaxed w-full lg:w-3/4">
        <p class="pb-6 text-justify">{{evenement.description}}</p>
      </div>
      <div class="w-full lg:w-1/2 p-4 border-t border-b md:border md:rounded">
        <p class="py-3 rounded-2xl text-center bg-green-500 text-white">
          Lieu : <span class="font-semibold">{{evenement.lieu}}</span>
        </p>
        <br>
        <p class="py-3 rounded-2xl text-center bg-purple-600 text-white">
          Date : <span class="font-semibold">{{evenement.date | date:"dd/MM/YYYY"}}</span>
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col content-end sticky">
    <hr class="hidden sm:mt-6 sm:flex" />
    <pagination-controls (pageChange)="handlePageChange($event)" class="mx-auto mt-8" previousLabel="Précédent"
      nextLabel="Suivant" responsive="true" autoHide="true"></pagination-controls>
  </div>
</div>

<div class="flex flex-col" *ngIf="!evenements">
  <app-loader style="  position: fixed;
top: 50%;
left: 50%;
margin-top: -50px;
margin-left: -100px;">
  </app-loader>
</div>
