<div class="flex flex-grow">
  <div class="bg-gray-100 w-full min-h-screen rounded-xl mt-4 mx-8 sm:mx-12 lg:mx-48 mb-2">
    <main class="font-sans">
      <div>
        <section class="bg-gray-100 py-10 rounded">
          <div class="max-w-4xl rounded-xl px-6 text-center mx-auto">
            <h2 class="text-3xl font-semibold text-gray-800">Historique de l'association</h2>
          </div>
          <br>
        </section>
        <section class="bg-green-600 pattern py-20">
          <div class="max-w-5xl px-6 mx-auto text-center">
            <h2 class="text-2xl font-semibold text-white">Lorem, ipsum dolor.</h2>
            <p class="text-white mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, quae est
              molestias doloribus a placeat?</p>
          </div>
        </section>

        <section class="bg-gray-100 pattern py-20">
          <div class="max-w-5xl px-6 mx-auto text-center">
            <p class="text-gray-800 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos repellat
              debitis odio similique. Veritatis, enim modi nam excepturi sequi neque in dolore quas repellat sunt
              recusandae vel reiciendis omnis quasi officia aliquid minima quos. Esse dolorum animi debitis, earum illo
              architecto iusto aut necessitatibus temporibus expedita molestias magnam quisquam amet eligendi ex alias
              consequuntur? Placeat delectus illum numquam nisi quia accusantium nesciunt cumque qui ab voluptatem,
              temporibus inventore aperiam dolores culpa eligendi, suscipit sit alias fugit accusamus, ipsam tempora.
              Nisi laudantium dolorem cum cumque odio voluptates nobis repudiandae enim necessitatibus iste aliquam
              ipsum vitae alias eos officiis, laboriosam harum inventore ullam esse nam porro non? Aut officiis nisi
              soluta sit, ullam placeat ipsa quibusdam animi atque. Ipsa et fuga cumque dolorem consequuntur, debitis
              sed molestiae tempore recusandae animi soluta eveniet, incidunt in natus dolore praesentium odio.
              Perspiciatis modi quia aut! Illum iure, illo porro dolorum ea numquam quisquam optio.</p>
          </div>
        </section>
      </div>
    </main>
  </div>
</div>
