img {
  object-fit: cover;
  width:230px;
  height:230px;
}

.paragraphe{
  width: 230px;
}

.fadein{
  transition: opacity 10s ease;
}

@keyframes opacity{
  from{
    opacity: 0;
  }
  to{
    opacity: 100;
  }
}
