<div class="grid grid-cols-1 sm:grid-cols-1">
  <div class="py-6 flex flex-col justify-center sm:py-4">
    <div class="py-3 sm:w-max sm:mx-auto sm:my-auto">
      <div class=" px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
        <div class="mx-auto">
          <div class="flex items-center">
            <div class="block pl-2 font-semibold text-xl text-gray-700">
              <h2 class="leading-relaxed text-center mb-3">Connexion à l'administration</h2>
              <p *ngIf="hasProblem" class="text-sm text-red-500 font-semibold leading-relaxed">Nom d'utilisateur/mot de passe incorrect</p>
              <p *ngIf="serverDown" class="text-sm text-red-500 font-semibold leading-relaxed">Le serveur de connexion est hors-ligne</p>
            </div>
          </div>
          <div class="divide-y divide-gray-200">
            <form [formGroup]="formLogin" (ngSubmit)="login()">
              <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                <div class="flex flex-col">
                  <input type="text"
                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                    placeholder="Nom d'utilisateur" formControlName="username">
                </div>
                <div class="flex flex-col">
                  <input type="password"
                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                    placeholder="Mot de passe" formControlName="password">
                </div>
              </div>
              <div class="pt-4 grid grids-col-2 sm:flex sm:items-center sm:space-x-4">
                <button type="submit"
                  class="bg-purple-600 mb-2 sm:mb-0 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">Se
                  connecter<svg class="w-6 h-6 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1">
                    </path>
                  </svg></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
